{% extends 'base.html' %}
{% include 'header.html' %}
 
 
 
{% block title %} Home {% endblock %}
 
 
 
{% block body %}
 
<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
 
                <h2>Manage <b>Regions </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Regions</button> </h2>
 
 
                {% with regions = get_flashed_messages() %}
 
                {% if regions %}
 
                {% for row in regions %}
 
                <div class="alert alert-success alert-dismissable" role="alert">
 
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
 
                        <span aria-hidden="true">x</span>
 
                    </button>
 
 
                </div>
 
 
                {% endfor %}
 
                {% endif %}

                {% endwith %}
 
 
                <table class="table table-hover table-dark">
 
                    <tr>
 
                        <th>ID</th>
                        <th>Code</th>
                        <th>Name</th>
 
                    </tr>
 
 
                   {% for row in regions %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.code}}</td>
                        <td>{{row.name}}</td>
 
                        <td>
                            <a href="/update_regions/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/regions/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
 
 
                        </td>
 
                    </tr>
 
 
                  <!-- Modal Edit Regions-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
 
 
      <div class="modal-content">
 
 
         <div class="modal-header">
 
 
            <h4 class="modal-title">Update Information</h4>
 
 
         </div>
 
 
         <div class="modal-body">
 
 
            <form action="{{url_for('update_regions')}}" method="POST">
 
 
               <div class="form-group">
 
 
                  <label>Code:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
 
                  <input type="text" class="form-control" name="code" value="{{row.code}}">
 
 
               </div>
 
 
 
               <div class="form-group">
 
 
                  <label>Name:</label>
 
                  <input type="text" class="form-control" name="name" value="{{row.name}}">
 
 
               </div>
 
 
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">Update</button>
 
 
               </div>
 
 
            </form>
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
</div>
 
 
                    {% endfor %}
 
 
                </table>
 
 
            </div>

               <!-- Modal Add Artciels-->
 

<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
 
            <h4 class="modal-title">Add Region</h4>
         </div>
         <div class="modal-body">
 
            <form action="{{url_for('insert_regions')}}" method="POST">
 
 
               <div class="form-group">
 
                  <label>Code:</label>
                  <input type="text" class="form-control" name="code" required="1">
 
 
               </div>
 
 
                <div class="form-group">
 
 
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
 
 
               </div>
 
 
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">Add Region</button>
 
 
               </div>
 
 
            </form>
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
 
</div>
             
             
             
             
             
                    </div>
             
                </div>
             
             
            </div>

        </div>
    </div>
</div>
{% endblock %}